
@{
    ViewBag.Title = "Terms";
}


<h2>Terms</h2>

<ul>
    <li> User can create its personal account for booking of its own e-tickets and e-tickets for his friends and family.</li>
    <li> No User is allowed to book tickets for commercial purpose.</li>
    <li>Account will be activated after verification of the personal mobile number through SMS and email verification through email link (both are sent on creation of new account).</li>
    <li> If user not gets the SMS or email for verification, it can be resent up to three times.</li>
    <li>On failure of 3 times, provided phone number and email will be blocked permanently for personal account purpose.</li>
    <li>Misuse of personal account / commercial use of personal account reported will be blocked on permanent bases.</li>
    <li>User can change his mobile number and email address before verification, after verification of email and mobile user is not allowed to change mobile number or email address.</li>
    <li>User will provide its real CNIC Number while registering his new account.</li>
</ul>

<h1>General Terms and Conditions for Travelers</h1>
<ul>
    <li> Passengers are responsible for taking care of their belongings. Pakistan Railways will not bear any responsibility in case of loss of luggage.</li>
    <li> The person whom Railways has assigned ticket will only be eligible to travel on that ticket, no one else will be allowed to travel on his/her ticket.</li>
    <li>Half fare will be applied to kids between 3 to 10 years of age.</li>
    <li>Half fare will be applied to old citizens of age 65 and more at the time of booking (in selected trains only).</li>
    <li> It is the sole responsibility of the passenger to provide the correct information while booking a ticket.</li>
    <li>Economy class tickets are reserved from its originating quota station to the ending station of the passenger and fare is also charged in the same way (from available seats origin to passenger ending).</li>
    <li> AC class tickets (except Green line) are reserved from the passengers travelling from station and passengers travelling to station and fare is also calculated in the same way.</li>
    <li>Green line train’s fare is Quota based. If you have to travel from Rohri to Karachi and seat available is from Rawalpindi to Karachi, then the fare will be charged from Rawalpindi to Karachi instead of Rohri to Karachi.</li>
    <li> Condition No. 8 of the Green line trains null and voids in 24 hours and it works on same way mentioned in Condition No. 7.</li>
    <li> If during the journey AC of the train fails then the difference of AC and Economy class will be calculated and refunded to the passenger if guard certificate (CM-109) is issued to the passenger.</li>

</ul>

<h2>Cancellation</h2>

<ul>
    <li>No refund will be granted on cancellation of confirmed Tatkal tickets.</li>
    <li>. For contingent cancellation and waitlisted Tatkal ticket cancellations, charges will be deducted as per existing Railway rules. </li>
    <li>Partial cancellation of Tatkal e-tickets is allowed .</li>
    <li>If the train is marked as "CANCELLED" in PRS due to breaches, floods, accidents etc. full refund is permissible in case the ticket is cancelled within three days of the scheduled departure of the train.</li>
    <li>. In case of e-tickets, such cancellations can be done by the customer through Internet.</li>
</ul>

<h2>Refund</h2>

<ul>
    <li>In suppression to this office letter of even number dated: 25-11-2020 and part modification of rule 2.18 for PR Coaching Traffic No.4. The deduction rate on refund on tickets is revised as under:-</li>
    <li>90% refund is allowed upto 48 hours before departure of train.</li>
    <li>80% refund is allowed between 24 to 48 hours before departure of train.</li>
    <li>70% refund is allowed within 24 hours before departure of train.</li>
    <li>Upto 50% refund in case the tickets are refund with in three hours after departure of train will take effect from 25-08-2011.</li>
</ul>
<h1>Online Refund Policy</h1>
<ul>
    <li> Refund of tickets purchased online will be provided only through the Service Provider who received the payment at the time of booking and via the same payment method which was used while paying for ticket.</li>
    <li> Passenger must have to show his/her original CNIC at the time of refund</li>
    <li>Passenger has to show the cancellation message/text received from Pakistan Railways to the Service Provider at the time of getting refund.</li>
    <li>10% of the paid amount will be deducted on cancellation before 48 hours of the departure of the train from its originating station or from the origin of quota of the seat reserved.</li>
    <li> 20% of the paid amount will be deducted on cancellation between 48 to 24 hours before of the train from its originating station or from the origin of quota of the seat reserved.</li>
    <li> 30% of the paid amount will be deducted on cancellation within 24 hours of the departure of the train from its originating station or from the origin of quota of the seat reserved.</li>
    <li>There will be no cancellation when departure time of the train is less than 2 hours or Guard Chart has been produced* (E-Ticket Only).</li>
    <li>There will be no refund if user fails to produce cancellation message from Pakistan Railways.</li>
    <li> If train is cancelled or is late more than 6 hours then there will be no deductions, but in this case, passenger has to write an application and have to take the sign of station master to conform the scenario. (Send your application to CCM Office for this purpose).</li>
    <li> If a reserved seat is unavailable due to any reason then that passenger will be adjusted according to the availability of seats in train.</li>
    <li>If the reserved coach is not available in train due to coach damages or accidents, then full refund will be given to the passengers, however passenger will get certificate from the station master for coach non-availability for his journey and will send written request for refund to CCM office.</li>
    <li> After approval from the CCM office, passenger will get the refund via same payment method which was used for booking.</li>
    <li>After departure refund is not possible for e-ticket passengers due to technical limitations (will be available after improvement in system).</li>


</ul>

